@import '../node_modules/bulma/sass/utilities/_all';

$footer-background-color: #fff;

.navbar-item {
  font-family: monospace;
}

.hero-text-container {
  margin-top: 3.35%;
  margin-bottom: 3.35%;
}

.footer-border {
  border-top: 1px solid $grey-lighter;
}

.footer-info {
  font-family: monospace;
  font-size: 0.8em;
}

.link-icon {
  color: $link;
}

.contact-link {
  color: #3273dc !important;
}

.home-hero-body {
  margin-top: 2%;
}

.contact-hero-h1 {
  font-size: 3em;
  margin-left: 13%;
  margin-top: 3%;
}

.contact-hero-paragraph {
  margin-left: 13%;
  margin-bottom: 1%;
}

.contact-form {
  margin-left: 4%;
}

.main-text {
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
}

.education-link {
  list-style-type: disc;
}

.education-list {
  margin-left: 4%;
}

.about-box {
  margin-top: 5%;
  margin-bottom: 10%;
}

.attribution {
  margin-left: 4%;
}

.hero-div {
  margin-top: 2.75%;
  @include until($tablet) {
    margin-top: 20%;
  }
}

.has-bg-img3 {
  background: url('/static/chains.jpg') no-repeat center center;
  background-size: 100%;
  background-size: cover;
}

.has-bg-img2 {
  background: url('/static/webbackground.jpg') center center;
  background-size: 100%;
  background-size: cover;
}

.has-bg-img {
  background: url('/static/codebackground5.jpg') center center;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;

  // @include until($tablet) {
  //   background-size: 150%;
  // }

  // @include until($desktop) {
  //   background-size: 100%;
  // }
}

#devcraft-text {
  color: #fff;
  font-family: monospace;
  font-size: 7em;

  @include until($desktop) {
    font-size: 3em;
    font-weight: 100;
  }

  @include until($tablet) {
    font-size: 2.5em;
    font-weight: 100;
  }
}

@import '../node_modules/bulma/bulma.sass';
