@import '../node_modules/bulma/sass/utilities/_all';

$footer-background-color: #fff;

.navbar-item {
  font-family: monospace;
}

.hero-text-container {
  margin-top: 3.35%;
  margin-bottom: 3.35%;
}

.footer-border {
  border-top: 1px solid $grey-lighter;
}

.footer-info {
  font-family: monospace;
  font-size: 0.8em;
}

.contact-header {
  font-family: monospace;
  font-size: .9em;
  font-weight: bold;
  padding-bottom: 5%;
}

.other-contact-text {
  font-size: 1em;
}

.contact-hero-body {
  padding-top: 1% !important;
  padding-bottom: .5% !important;
}

.github-icon {
  font-size: 3em;
  color: #3273dc;
}

.twitter-icon {
  font-size: 3em;
  color: #3273dc;
}

.github-contact {
  margin-bottom: 12%;
}

.link-icon {
  color: $link;
  display: inline-block;
}

.other-contact-methods {
  font-size: 1.5em;
}

.belief-topic {
  font-family: monospace;
  font-weight: bold;
  margin-top: 5%;
}

.belief-list-item {
  margin-bottom: 5%;
  margin-top: 6%;
}

.contact-link {
  color: #3273dc !important;
}

.mission-statement {
  text-decoration: underline;
  font-family: monospace;
}

.contact-hero-h1 {
  font-size: 3em;
  margin-left: 11%;
  margin-top: .5%;
}

.contact-hero-paragraph {
  margin-left: 16.5%;
  margin-bottom: 1%;
}

.contact-form {
  margin-left: 4%;
}

.main-text {
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
}

.belief-title {
  font-family: monospace;
}

.education-link {
  list-style-type: disc;
  color: #3273dc !important;
}

.education-link:visited {
  text-decoration-color: #000;
}

.education-link:hover {
  text-decoration: underline;
}

.education-list {
  margin-left: 4%;
}

.beliefs-box {
  margin-top: 1%;
  margin-bottom: 1%;
}

.about-box {
  margin-top: 1%;
  margin-bottom: 1%;
}

.attribution {
  margin-left: 4%;
}

.hero-div {
  margin-top: 2.75%;
  @include until($tablet) {
    margin-top: 20%;
  }
}

.click-confirmation-message {
  font-family: monospace;
  margin-bottom: .5%;
}

.confirmation-icon {
  color: $success;
  font-size: 2em; 
}

.confirmation-message {
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 1.5em;
}

.has-bg-img3 {
  background: url('/static/chains.jpg') no-repeat center center;
  background-size: 100%;
  background-size: cover;
}

.has-bg-img2 {
  background: url('/static/skypanels.jpg') no-repeat center center;
  background-size: 100%;
  background-size: cover;
}

.has-bg-img {
  background: url('/static/codebackground5.jpg') center center;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

#devcraft-text {
  color: #fff;
  font-family: monospace;
  font-size: 7em;

  @include until($desktop) {
    font-size: 3em;
    font-weight: 100;
  }

  @include until($tablet) {
    font-size: 2.5em;
    font-weight: 100;
  }
}

@import '../node_modules/bulma/bulma.sass';
